# Flutter
/build/
/.dart_tool/
/.packages
.pub-cache/
/.pub/
/.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/app/build/
android/local.properties
android/key.properties
*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/App.framework.dSYM
ios/Flutter/Generated.xcconfig

# Firebase (SECRETS!)
google-services.json
GoogleService-Info.plist

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
